.toolbar {
  height: 90px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  z-index: 300;
  padding: 0;
  background-color: rgb(41, 56, 92);
}

.logo {
  height: 80%;
}

/* .toolbar-button {
  width: 100%;
} */

.toolbar-button > button {
  color: white;
  background-color: rgb(247, 83, 94);
  border: none;
  width: 150px;
  height: 40px;
  border-radius: 20px;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  outline: none;
  transition: 0.5s ease;
}

.toolbar-button > button:hover {
  background: rgb(18, 226, 147);
}

.desktop-only {
  margin: 0 1%;
}

@media (max-width: 1000px) {
  .desktop-only {
    display: none;
  }
}

@media (max-width: 1000px) {
  .toolbar-button {
    display: none;
  }
}

@media (max-width: 1000px) {
  .toolbar {
    z-index: 0;
    position: relative;
  }
}
